html {
    height: 100%;
}
body {
    min-height: 100%;
}
body{
    background-color: rgb(125, 75, 15);
}

td, th, p, h3 {
    text-align: center;
}

.container{
    background-color:rgb(67, 37, 14);
    /*background: rgb(30, 29, 29) url(img/col_pattern.jpg) repeat;*/
    color: white;
    /*height: 1000px;*/
}

#card{
    text-align: center;
    border: 5px solid rgb(89, 96, 104);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.btn-success{
    background-color: rgb(164, 180, 195);
    border-color: rgb(69, 70, 73);
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgb(168, 182, 196)), to(rgb(0, 0, 0)));

}
.red{
    background-color: rgb(125, 37, 27);
    border-color: rgb(255, 42, 55);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    /*color: rgb(40, 40, 47);
    background-color: rgba(236, 231, 8, 0);*/
    border-color: rgb(162, 162, 163);
    background: -webkit-gradient(linear, 0% 0%, 0% 79%, from(rgb(162, 162, 163)), to(rgb(0, 0, 20)));
}
button{
    width: 100%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 5px;
}

button p{
    font-size: 15px;
}
.active-button{
    border-color: rgb(162, 162, 163);
    background: -webkit-gradient(linear, 0% 0%, 0% 79%, from(rgb(162, 162, 163)), to(rgb(0, 0, 20)));
}


.btn{
    height: 50px;
}

.btn:hover{
//background-color: rgb(125, 37, 27);
    border-color: rgb(255, 42, 55);
    color: rgb(255, 42, 55);
    background: -webkit-gradient(linear, 0% 0%, 0% 79%, from(rgb(255, 42, 55)), to(rgb(0, 0, 20)));
}

.thin{
    height: 35px;
    color: #f5c86b;
    background-color: rgb(125, 37, 27);
}


